/*Text Properties*/

/* Challenge 1: Set the text-align,text-transform,line-height  properties of id  html' */
#html{
  text-align: center;
  text-transform: capitalize;
  line-height: 2;
}

/* Challenge 2: Set text-alignment of id 'css' to be justify and color red*/
#css{
  text-align: justify;
  color: red;
}

/* Challenge 3: Set the text color to green,text-transform to capitalise of id 'js' */
#js{
  color: green;
  text-transform: capitalize;
}

